<div class="katanaDIV">
  <h1>Katana-Sektion</h1>
  <p>
    Hallo, <br />
    <br />
    in diesem Seitenabschnitt soll es rund um das Thema Katana und Kenjutsu
    gehen. Dabei soll diese Seite als eine Sammlung für Wissen rund um das Thema
    Katana (= japanisches Schwert) und Kenjutsu (= japanische Schwertkampfkunst)
    dienen. <br />
    <br />
    Die Motivation dahinter ist die Schaffung einer solchen Wissenssammlung, da
    es nur sehr wenige Informationen dazu im Internet gibt und nicht jeder die
    Zeit und/ oder das Geld und/ oder die Motivation für Fachliteratur hat (,
    wobei diese gegebenenfalls in einer nichtdeutschen Sprache ist).
  </p>

  <h2>Externe Webseiten</h2>
  <button (click)="openDialog()">Dialog öffnen</button>

  <!-- <table mat-table [dataSource]="WEBSITE_LIST">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Titel</th>
      <td mat-cell *matCellDef="let element">{{ element.title }}</td>
    </ng-container>

    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef>URL</th>
      <td mat-cell *matCellDef="let element">
        <a
          [href]="element.url"
          [matTooltip]="'vollständige URL: ' + element.url"
          >{{ element.url | formatLinks }}</a
        >
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Beschreibung</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table> -->
</div>
